
img.carros
{
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* width: 35%; */
    /* height: 500px; */

}

/* .slide {
    width: 50%;
} */

/* #carouselExampleIndicators {
    width: 50%;
    height: 500px;
} */

/* body{
    background-color: black;
} */